<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1><%= t('.login') %></h1>
    <%= form_for(:session, url: sessions_path, html: {class: 'form-group'} ) do |f| %>
    <div class="form-group">
      <%= f.label t('.phone') %>
      <%= f.phone_field :phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label t('.password') %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <%= t('.new_user') %> &nbsp; <span class="underline"><%= link_to t('.sign_up_now'), new_user_path %></span>
      </div>
      <div class="form-check text-center col-sm-6 text-right">
        <%= f.submit t('.sign_in_now'), class: "btn btn-primary container col-sm-12" %>
      </div>
    </div>
    <% end %>
<<<<<<< modify-interface
=======
      <div class="row text-center">
        <div>
          <%= t('.new_user') %> &nbsp; <span class="underline"><%= link_to t('.sign_up_now'), new_user_path %></span>
        </div>
      </div>
>>>>>>> develop
  </div>
</div>
