<h1><%= t('users.edit.title') %> </h1>
<%= form_for(current_user, html: {class: 'form-group'} ) do |f| %>
  <%= render partial: 'shared/error_messages', locals: {object: current_user} %>
  <div class="form-group">
    <%= f.label t('users.name') %><span class="required">*</span>
    <%= f.text_field :name, class: 'form-control', maxlength: 20, size: 20, onchange: "trimString(0)", required: true %>
  </div>

  <div class="form-group">
    <%= f.label t('users.address') %><span class="required">*</span>
    <%= f.text_field :address, class: 'form-control', maxlength: 50, size: 50, onchange: "trimString(1)", required: true %>
  </div>

  <div class="form-group">
    <%= f.label t('users.password') %><span class="required">*</span>
    <%= f.password_field :password, class: 'form-control', required: true, pattern: ".{6,}", title: "Minimun is 6 characters" %>
  </div>

  <div class="form-group">
    <label><%= t('.avatar') %></label>
    <span class = "picture">
      <%= f.file_field :avatar, accept: "image/*", id: "avatar-upload" %>
    </span>
  </div>

  <div class="form-check text-center">
    <%= f.submit t('users.edit.update_info'), class: "btn btn-primary container col-sm-6 col-sm-offset-3" %>
  </div>
<% end %>
