<div class="row">
  <nav class="navbar navbar-default col-sm-12 tab-option">
      <ul class="nav navbar-nav">
        <li><%= link_to "Profile", url_for(tag: "profile") %></li>
        <li><%= link_to "Books", url_for(tag: "books") %></li>
        <li><%= link_to "Book Requests", url_for(tag: "book requests") %></li>
      </ul>
  </nav>
  <%= render partial: 'profile' if params[:tag] == "profile"%>
  <%= render 'users/book_list', books: @books if params[:tag] == "books" %>
  <% if params[:tag] == "book requests" %>
    <div class="row" style="margin-left: 50px;">
      <%= render 'users/book_request_list', books: @book_requests %>
      <div class="row text-center">
        <%= paginate @book_requests%>
      </div>
    </div>
  <% end %>
</div>


