<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <img src="<%= @user.avatar&.url %>" class="user-avatar">
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="col-sm-7">
    <div class="row">
      <p><b><%= @user.name %></b></p>
    </div>
    <div class="row">
      <%= @user.address %>
    </div>
    <div class="row">
      <%= @user.phone %>
    </div>
    <div class="row">
      <p><%= t('.join') %> </p> <%= @user.created_at %>
    </div>
    <% if current_user.id == params[:id].to_i %>
      <div class="row">
        <a href="#" class="btn btn-primary"><%= t('.update') %></a>
      </div>
    <% end %>
  </div>
<!--   <div class="col-sm-1"></div> -->
</div>




