<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <img src="<%= current_user.avatar&.url %>" class="user-avatar">
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="col-sm-7">
    <div class="row first-row">
      <p><b><%= current_user.name %></b></p>
    </div>
    <div class="row first-row">
      <%= current_user.address %>
    </div>
    <div class="row first-row">
      <%= current_user.phone %>
    </div>
    <div class="row first-row">
      <%= t('.join') %><span> <%= time_ago_in_words(current_user.created_at) %> <%= t('.ago') %></span>
    </div>
      <div class="row">
        <a href="<%= edit_user_url %> " class="btn btn-primary"><%= t('.update') %></a>
      </div>
  </div>
</div>
