<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-6">
      <div class="col-md-12 custom-book-col">
        <div class="col-sm-3"><img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/m/image_180164_1_43_1_57_1_4_1_2_1_210_1_29_1_98_1_25_1_21_1_5_1_3_1_18_1_18_1_45_1_26_1_32_1_14_1_2199.jpg" alt="Img" class="custom-book-cover"></div>
        <div class="col-sm-9">
          <div class="row"><b class="custom-highlight-name"><%= book.name %></b></div>
          <div class="row"><p><%= t('.seller_name') %></p></div>
          <div class="row"><p><%= t('.quantity', quantity: book.quantity) %></p></div>
          <div class="row"><p><%= t('.price', price: book.price) %></p></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row text-center">
  <%= paginate @books %>
</div>
