<div class="row">
  <% @books.each do |book| %>
    <%= link_to book_path book do %>
      <div class="col-md-6">
        <div class="col-md-12 custom-book-col">
          <div class="col-sm-3">
            <img src= <%= Image.find_by(book_id: book.id).url %> alt= "Book's cover" class="custom-book-cover">
          </div>
          <div class="col-sm-9">
            <div class="row"><b class="custom-highlight-name"><%= book.name %></b></div>
            <div class="row"><p><%= t('.seller_name') %></p></div>
            <div class="row"><p><%= t('.quantity', quantity: book.quantity) %></p></div>
            <div class="row"><p><%= t('.price', price: book.price) %></p></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row text-center">
  <%= paginate @books %>
</div>
