<div class="row">
  <div class="col-sm-3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @book.images.each_with_index do |book_image, index| %>
          <div class="item <%= "active" if index == 0 %> ">
            <img src="<%= book_image&.url %>" class="book-image">
          </div>
        <% end %>
      </div>
      <a class="left carousel-control navigation-button" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control navigation-button" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="row text-big-size horizontal-border"><b><%= @book.name %></b></div>
    <div class="row"><p><%= t('books.quantity', quantity: @book.quantity) %></p></div>
    <div class="row"><p><%= t('books.price', price: @book.price) %></p></div>
    <div class="row horizontal-border"><b class="text-big-size"><%= t('.book_content') %></b></div>
    <div class="row"><p><%= @book.description %></p></div>
  </div>
  <div class="col-sm-3 text-center left-border">
    <div class="row text-big-size"><b><%= t('user.name', name: @book.seller_name) %></b></div>
    <div class="row"> <img src="<%= @book.seller_avatar %>" class="user-avatar"> </div>
    <% if current_user %>
      <div class="row"><p><%= t('user.phone', phone: @book.seller_phone) %></p></div>
      <div class="row"><p><%= t('user.address', address: @book.seller_address) %></p></div>
    <% else %>
      <div class="row"><p><%= t('user.login_required') %></p></div>
    <% end %>
  </div>
</div>
<% if @book.comment.present? %>
  <div class="row horizontal-border"><b class="text-big-size"><%= t('.seller_comment') %></b></div>
  <div class="row container">
    <p><%= @book.comment %></p>
  </div>
<% end %>
