<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'shared/images_slider', locals: {images: @book.images}  %>
  </div>
  <div class="col-sm-5">
    <h3 class="book-content"><%= @book.name %></h3>
    <p><%= t('books.quantity', quantity: @book.quantity) %></p>
    <p><%= t('books.price', price: number_to_currency(@book.price)) %></p>
    <% if current_user&.id == @book.user_id %>
      <span title='<%= t('books.edit_button') %>'>
        <%= link_to '', edit_book_path(@book.id), class: "glyphicon glyphicon-edit" %>
      </span>
    <% end %>
  </div>
  <div class="col-sm-3 text-center book-seller-area">
    <h3><%= @book.seller_name %></h3>
    <img src="<%= @book.seller_avatar %>" class="user-avatar">
    <% if current_user %>
      <p><%= t('user.phone', phone: @book.seller_phone) %></p>
      <p><%= t('user.address', address: @book.seller_address) %></p>
    <% else %>
      <p><%= t('user.login_required') %></p>
      <div>
        <%= link_to t('layouts.header.login'), login_path_with_previous_redirect, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<% if @book.comment.present? %>
  <h3><%= t('.seller_comment') %></h3>
  <p class="book-content"><%= simple_format @book.comment %></p>
<% end %>
<h3><%= t('.book_content') %></h3>
<p class="book-content"><%= simple_format @book.description %></p>
