<div class="row">
  <div class="col-sm-3">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @book.images.each_with_index do |book_image, index| %>
          <div class="item <%= "active" if index == 0 %> ">
            <img src="<%= book_image&.url %>" class="book-image">
          </div>
        <% end %>
      </div>
      <a class="left carousel-control navigation-button" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control navigation-button" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <div class="col-sm-5 text-big-size">
    <div class="row"><b><%= @book.name %></b></div>
    <div class="row"><p><%= t('books.quantity', quantity: @book.quantity) %></p></div>
    <div class="row"><p><%= t('books.price', price: @book.price) %></p></div>
  </div>
  <div class="col-sm-3 text-center text-big-size left-border">
    <div class="row"><b><%= t('books.seller_name') %></b></div>
    <div class="row"> <img src="https://images-na.ssl-images-amazon.com/images/I/71vntClRfjL._SX425_.jpg" class="user-avatar"> </div>
    <div class="row"><p><%= "Thong tin cua nguoi ban neu user dang nhap" %></p></div>
  </div>
</div>
<div class="row horizontal-border"><b class="text-big-size"> <%= t('.book_content') %> </b></div>
<div class="row container">
  <p> <%= @book.description %>
</div>
<% if @book.comment %>
  <div class="row horizontal-border"><b class="text-big-size"> <%= t('.seller_comment') %> </b></div>
  <div class="row container">
    <p> <%= @book.comment %>
  </div>
<% end %>
