<% user_books.each do |book| %>
  <%= link_to book_path book do %>
    <div class="col-sm-6">
      <div class="col-sm-12 book-col">
        <div class="col-sm-2">
          <img src= "<%= get_thumb_url(book) %>" alt= "Book's cover" class="book-cover">
        </div>
        <div class="col-sm-8">
          <h4 class="title"><span title="<%= book.name %>"><%= book.name %></span></h4>
          <p><%= t('books.seller_name', seller_name: book.seller_name) %></p>
          <p><%= t('books.quantity', quantity: book.quantity) %></p>
          <p><%= t('books.price', price: number_to_currency(book.price)) %></p>
        </div>
        <div class="col-sm-2 text-right">
          <%= link_to '', edit_book_path(book.id), class: "glyphicon glyphicon-edit" %>
          <%= link_to '',
            user_book_path(user_id: current_user.id, id: book.id, page: params[:page]),
            data: { method: :delete, confirm: t('.confirm_delete') },
            class: "glyphicon glyphicon-remove-circle"
          %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
