<% user_books.each do |book| %>
  <%= link_to book_path book do %>
    <div class="col-sm-6">
      <div class="col-sm-12 book-col">
        <div class="col-sm-2">
          <img src= "<%= book.images.first&.thumb_url %>" alt= "Book's cover" class="book-cover">
        </div>
        <div class="col-sm-8">
          <h4><span title="<%= book.name %>"><%= truncate(book.name, length: 40) %></span></h4>
          <p><%= t('books.seller_name', seller_name: book.seller_name) %></p>
          <p><%= t('books.quantity', quantity: book.quantity) %></p>
          <p><%= t('books.price', price: book.price) %></p>
        </div>
        <div class="col-sm-2">
          <%= link_to t('.update'), edit_book_url(book.id), class: "btn btn-primary" %>
          <%= link_to t('.remove_book'),
            user_book_path(user_id: current_user.id, id: book.id, page: params[:page]),
            data: { method: :delete, confirm: t('.confirm_delete') },
            class: "btn btn-primary",
            remote: true
          %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
