
<%= form_for(@book_request) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control'%>

  <%= f.label :comment %>
  <%= f.text_area :comment, class: 'form-control', row: "3" %>

  <%= f.label :budget %>
  <%= f.text_field :budget, class: 'form-control' %>

  <%= f.label :quantity %>
  <%= f.number_field :quantity, class: 'form-control' %>
  <div>
    <%= f.submit "Create Book Request", class: 'btn btn-primary col-md-5' %>
  </div>
<% end %>
