<% book_requests.each do |book_request| %>
  <%= link_to book_request_path book_request do %>
    <div class="col-md-3 book-request">
      <div class="row">
        <img src="<%= get_thumb_url(book_request) %>
          "alt = "Book's cover" class="book-request-image">
        <div class="col-md-12 book-request-content" >
         <h4 class="book-title"><span title="<%= book_request.name %>"><%= book_request.name %></span></h4>
          <p class="book-request-detail book-request-buyer"><%=t('book_request.buyer') %>: <%= book_request.buyer_name %></p>
          <p class="book-request-detail"><%= t('book_request.quantity') %>: <%= book_request.quantity %></p>
          <p class="book-request-detail"><%= t('book_request.budget') %>: <%= number_to_currency(book_request.budget) %></p>
          <% if current_user && current_page?(user_book_requests_path(current_user)) %>
            <%= link_to edit_book_request_path(book_request) do %>
              <img src="<%= image_path('icon-edit.png') %>" class="icon">
            <% end %>
            <%= link_to book_request_path(book_request), data: { method: :delete, confirm: t('.confirm_delete')}  do %>
              <img src="<%= image_path('icon-delete.png') %>" class="icon">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
