<footer>
  <div class="row" style="margin-bottom:15px">
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
      <div class="row" style="margin-bottom:15px"><b>Liên hệ</b></div>
      <div class="row"><%= link_to "Facebook", '#' %></div>
      <div class="row"><%= link_to "Instagram", '#' %></div>
      <div class="row"><%= link_to "Youtube", '#' %></div>
    </div>
    <div class="col-sm-2">
      <div class="row" style="margin-bottom:15px"><b>Hỗ trợ khách hàng</b></div>
      <div class="row"><%= link_to "Trung tâm trợ giúp", '#' %></div>
      <div class="row"><%= link_to "Quy định cần biết", '#' %></div>
    </div>      
    <div class="col-sm-2">
      <div class="row" style="margin-bottom:15px"><b>Thông tin về BookStore</b></div>
      <div class="row"><%= link_to "Giới thiệu", '#' %></div>
      <div class="row"><%= link_to "Blog", '#' %></div>
    </div>       
    </div>
  </div>
  <div class="row">
  <p >CÔNG TY Vareal Việt Nam - Địa chỉ: Phòng 824, Tầng 8, Detech 2 Tower, 107 Nguyễn Phong Sắc, TP Hà Nội
    <br>
  <small>Email: cuongdinh@vareal.vn - Đường dây nóng: 0969.969.969</small>
</div>
</footer>