<footer>
  <div class="row first-row">
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
      <div class="row first-row"><b> <%= t('.contact') %> </b></div>
      <div class="row"><%= link_to "Facebook", '#' %></div>
      <div class="row"><%= link_to "Instagram", '#' %></div>
      <div class="row"><%= link_to "Youtube", '#' %></div>
    </div>
    <div class="col-sm-2">
      <div class="row first-row"><b> <%= t('.customer_supporter') %> </b></div>
      <div class="row"><%= link_to t('.support_center'), '#' %></div>
      <div class="row"><%= link_to t('.regulations'), '#' %></div>
    </div>
    <div class="col-sm-2">
      <div class="row first-row"><b> <%= t('.book_store_info') %> </b></div>
      <div class="row"><%= link_to t('.intro'), '#' %></div>
      <div class="row"><%= link_to t('.blog'), '#' %></div>
    </div>
    </div>
  </div>
  <div class="row">
  <p> <%= t('.company_info') %>
    <br>
  <small> <%= t('.company_contact') %> </small>
</div>
</footer>
