    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fuild">
        <%= link_to "BookLogo", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Button 1",'#' %></li>
            <li><%= link_to "Button 2", '#' %></li>
            <li><%= link_to "Button 3", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>