<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container custom-body-html">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <div class="container body-html">
      <% flash.each do |message_type, message| %>
      <div class="row flash-message">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 alert alert-<%= message_type %>" role="alert">
          <%= message %>
        </div>
        <div class="col-sm-2"></div>
      </div>
    <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
